@import "../../mixins.scss";

.navmain-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #03091f;
    padding: 10px 10px;
    border-bottom: 1px grey;
    h3{
      @include respond(phone) {
        display: none;
      }
    }
}
.logo{
  width: 45px;
  @include respond(desktop) {
    display: none;
  }
  
}
.wrap-left{
  padding-right: 20px;
  color: grey;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-profile-wrap{
  display: flex;
  align-items: center;
  gap: 5px;
  @include respond(phone) {
    display: none;
  }
  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  h3{
    font-size: 16px;
  }
}

.search-wrap{
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: fit-content;
    @include respond(phone) {
      display: none;
    }
  
   
    //
    .input{
      background: #0b1126;
      border: none;
      outline: none;
      width: 180px;
      color: #fff;
      
    }
  }

.icon-wrap{
  @include respond(phone) {
    display: none;
  }
  
}
.toggle{
  @include respond(desktop) {
    display: none;
  }
}

.side-nav {
  z-index: 1000 !important;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 60%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  color: white;
  @include respond(desktop) {
    display: none;
  }
}
.side-nav-else {
  position: fixed;
  left: -100%;
}





.list-wrap{
  padding: 10px;
}
.first-wrap{
  color: grey;
  h4{
      margin-bottom: 10px;
      font-size: 14px;
  }
  ul{
      cursor: pointer;
      list-style: none;
      .li-wrap{
          margin-left: 12px;
          display: flex;
          align-items: center;
          &:hover{
              color: #fff;
          }
          li{
              text-decoration: none; 
              margin-bottom: 7px; 
              padding: 10px;
          }
      } 
      
      
  }

}

.account-wrap{
  margin-top: 15px;
  color: grey;
  h4{
      margin-bottom: 10px;
      font-size: 14px;
  }
  ul{
      cursor: pointer;
      list-style: none;
      .li-wrap{
          margin-left: 12px;
          display: flex;
          align-items: center;
          &:hover{
              color: #fff;
          }
          li{
              margin-bottom: 7px; 
              padding: 10px;
          }
      }  
  }
}
.li-wraps{
  margin-left: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: grey !important;
  &:hover{
      color: #fff;
  }
}
.dark-mode-wrap{
  padding: 6px;
  background-color: black;
  margin-top: 150px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  @include respond(sm-phone) {
    margin-top: 100px;
  }

  .light{
      
      padding:10px 25px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 4px;
      // background-color: white;
  }
  .dark{
      padding:10px 25px; 
      display: flex;
      align-items: center;
      background-color: white;
      color: black;
      border-radius: 5px;
      gap: 4px;
  }
  
}