@import "../../mixins.scss";
.sidenavmian-wrap{
    height: 100%;
    position: fixed;
    overflow-y: hidden !important;
    top: 0px;
}
.logo-wrap{
    img{
        width: 70px;
        margin-bottom: 12px;
    }
}
.list-wrap{
    padding: 10px;
}
.first-wrap{
    color: grey;
    h4{
        margin-bottom: 10px;
        font-size: 14px;
    }
    ul{
        cursor: pointer;
        list-style: none;
        .li-wrap{
            margin-left: 12px;
            display: flex;
            align-items: center;
            &:hover{
                color: #fff;
            }
            li{
                text-decoration: none; 
                margin-bottom: 7px; 
                padding: 10px;
            }
        } 
        
        
    }

}

.account-wrap{
    margin-top: 15px;
    color: grey;
    h4{
        margin-bottom: 10px;
        font-size: 14px;
    }
    ul{
        cursor: pointer;
        list-style: none;
        .li-wrap{
            margin-left: 12px;
            display: flex;
            align-items: center;
            color: grey !important;
            &:hover{
                color: #fff;
                border-radius: 7px;
                border-left: solid 7px #007bff;
                border-top:solid 1px grey  ;
                border-right:solid 1px grey  ;
                border-bottom:solid 1px grey ;
                
                padding-left: 15px;
            }
            li{
                margin-bottom: 7px; 
                padding: 10px;
            }
        }  
    }
}
.li-wrap{
    margin-left: 12px;
    display: flex;
    align-items: center;
    &:hover{
        color: #fff !important;
        // background-color: #9fb5cc;
        border-radius: 7px;
        border-left: solid 7px #007bff;
        border-top:solid 1px grey  ;
        border-right:solid 1px grey  ;
        border-bottom:solid 1px grey ;
        
        padding-left: 15px;
    }
}
.link{
    color: grey;
}
.dark-mode-wrap{
    padding: 6px;
    background-color: black;
    margin-top: 150px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    .light{
        
        padding:10px 25px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 4px;
        // background-color: white;
    }
    .dark{
        padding:10px 25px; 
        display: flex;
        align-items: center;
        background-color: white;
        color: black;
        border-radius: 5px;
        gap: 4px;
    }
    
}

