.communities {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .search-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;

    .communities-search {
      background: white;
      top: 40px;
      z-index: 1;
      width: 80%;
      padding: 10px;
      border-radius: 20px;
      outline: none;
      font-size: 14px;
    }
  }

  .communities-container {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #d5d4d5;
    margin: 10px 0;

    .community {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .community-wrapper {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0.5px solid #d5d4d5;
        &.pinned-community {
          background-color: #f2f2f2;
        }

        .left {
          .top {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .bottom {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .about {
              font-size: 12px;
              color: rgb(239, 124, 37);
              max-width: 300px;
            }

            .community-info {
              display: flex;
              align-items: center;
              gap: 5px;
            }
            span {
              font-size: 16px;
              font-weight: bold;
            }

            .admins-wrapper {
              display: flex;
              flex-wrap: wrap;
              max-width: 400px;
              gap: 5px;

              .admin {
                &:hover {
                  color: #007bff;
                }
              }
            }
          }
        }

        .right {
          button {
            width: 150px;
            padding: 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            transition: background-color 0.3s ease;
            cursor: pointer;

            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }
  }
}
