.docker-setup {
  display: flex;
  justify-content: center;
  align-items: center;

  .docker-setup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    width: 400px;

    .header {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
    }

    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input-with-tooltip {
        position: relative;
        display: flex;
        flex-direction: column;

        .input-container {
          position: relative;
          width: 100%;

          input {
            padding: 12px;
            border: none;
            outline: none;
            font-size: 16px;
            border-bottom: 1px solid gray;
            width: 100%;
            text-align: center;
          }
        }

        .tooltip-icon {
          margin-left: 10px;
          cursor: pointer;
          color: #888;
        }

        .tooltip {
          position: absolute;
          top: 100%;
          left: 0;
          width: 200px;
          padding: 8px;
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 1;
          display: none;
        }

        &:hover .tooltip {
          display: block;
        }
      }

      input {
        padding: 12px;
        border: none;
        outline: none;
        font-size: 16px;
        border-bottom: 1px solid gray;
        width: 100%;
        text-align: center;
      }

      button {
        padding: 12px;
        cursor: pointer;
        background-color: transparent;
        color: #007bff;
        border: none;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 123, 255, 0.1);
          color: #007bff;
        }
      }

      .copy-button,
      .download-button {
        padding: 10px 20px;
        cursor: pointer;
        color: #007bff;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 123, 255, 0.8);
        }
      }
    }

    .docker-compose-config {
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 5px;

      pre {
        font-size: 14px;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-height: 300px;
        overflow-y: auto;
        border: none;
        border-radius: 5px;
      }
    }

    .instructions {
      margin-top: 20px;
      text-align: left;

      p {
        margin-bottom: 10px;
      }

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copy-button {
      padding: 10px 20px;
      cursor: pointer;
      color: #007bff;
      border: none;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: rgba(0, 123, 255, 0.8);
      }
    }
    .warning-message {
      position: absolute;
      bottom: -20px;
      left: 0;
      color: red;
      font-size: 14px;
    }
  }
}
