.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;

    .top{
        display: flex;
        align-items: center;
        gap: 50px;
    
        .landing-left{
            flex: 1;

            img{
                width: 100%;
            }
        }
    
        .landing-right{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 50px;
            line-height: 40px;

            h1{
                font-size: 35px;
            }

            h3{
                font-size: 25px;
            }
        }
    }

    .bottom{
        display: flex;
        gap: 50px;
    }

    .landing-middle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        
        .steps-wrapper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            
            .steps{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px;
                gap: 15px;
                font-size: 18px;
                background-color: white;
                box-shadow: 0px 0px 10px #d5d4d5;
            }

        }
    }

    .landing-bottom{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        padding: 30px;
        
        .points-wrapper{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 15px;

            ul{
                line-height: 15px;
    
                li {
                    margin-bottom: 20px;
                    font-size: 18px;
                    font: bold;
                  }
            }
        }
        .get-started{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 15px;

            .create{
                display: flex;
                align-items: center;
                gap: 30px;

                .content{
                    flex: 3;
                }
                .button{
                    flex: 2;
                }
            }

            .have-one{
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                padding: 15px;
                cursor: pointer;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 30px;
                font-weight: bold;
                font-size: 16px;
                transition: background-color 0.3s ease;
        
                &:hover {
                  background-color: #0056b3;
                }
            }

        }
    }
}