@import "../mixins.scss";
.landing-page-wrap{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @include respond(phone) {
    width: 350px;
    margin: 0px auto;
    padding: 50px 10px !important;
  }
}
