@import "../mixins.scss";
.login {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100vw;
    height: 80vh;
    overflow-y: hidden !important;
    @include respond(phone) {  
     width: 90vw;
     height: 80vh;
     overflow-y: hidden;
    }
    // padding-top: 60PX;
    // padding:0px 50px;
  
    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 30px ;
      border-radius: 10px;
      width: 400px;
      border: 1px solid grey;
      box-sizing: border-box;
      @include respond(phone) {  
        padding: 30px 0px;
        width: 310px;
      }
  
      .header {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
      }
  
      .error-message {
        color: red;
        margin-bottom: 20px;
        font-size: 16px;
      }
  
      .success-message {
        color: green;
        margin-bottom: 20px;
        font-size: 16px;
      }

      .step-info{
        .info{
            font-size: 12px;
            font: bold;
            color: rgb(239, 124, 37);
            margin-bottom: 5px;
        }
      }
  
      .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        input {
            padding: 10px;
            border: none;
            width: 100%;
            border-bottom: 1px solid gray;
            outline: none;
            font-size: 14px;
            border-radius: 5px;
            @include respond(phone) {  
              align-items: center;
              width: 250px;
            }
          }          
  
        button {
          padding: 10px;
          cursor: pointer;
          background-color: #007bff;
          color: white;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          font-size: 16px;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
  
.keychain-img{
  border-radius: 7px;
  width: 100%;
    cursor: pointer;
    @include respond(phone) {  
      align-items: center;
      width: 250px;
    }
}