@import "../mixins.scss";
.profile-wrap{
    overflow-y: scroll  !important;
    // overflow-x: none  !important;
    height: 100vh;  
    
    @include respond(phone) {
        
      } 
    
}
.cover-wrap{
    position: relative;

    width: 100%;
    height: 45%;  
    @include respond(phone) {
        height: 40%;
      } 
}
.cover{
    width: 100% !important;
    height: 250px;
    object-fit: cover;
    
    border-radius: 0px 0px 30px 30px;
    @include respond(phone) {
        border-radius: 0px 0px 20px 20px; 
        z-index: 1; 
    }
}
.prof-img{
    position: absolute;
    left: 45%;
    top: 200px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 4px gray;  
    @include respond(phone) {
        left: 30%;
    } 
     
}

.content-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    // z-index: 1;
    top: 500px;
}
.user{
    margin-bottom: 10px;
    font-size: 22px;
}
.rep{
    margin-bottom: 10px;
    font-size: 22px;
}
.abt{
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
}
.loctaion{
    margin-bottom: 10px;
    font-size: 22px;
}
.join{
    margin-bottom: 10px;
    font-size: 22px;
}
.logout{
    padding: 9px 40px;
    color: #fff !important;
    border-radius: 7px;
    background-color: #007bff;
    font-size: 18px;

}
