.navbar {
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 999;
    align-items: center;
    background-color: white;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;

        .logo {
          img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
            background: transparent;
          }
    }
  
  }
  