* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  @import "../../mixins.scss";
  
  body {
    font-family: sans-serif;
    color: #343a40;
    line-height: 1;
  }
  
  .accordion {
    width: 900px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }
    @include respond(phone) {
        width: 100%;
      }
      @include respond(tab) {
        width: 100%;
      }
  }
  
  .item {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 22px 20px;
    cursor: pointer;
    background: #0b1126;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 10px; 
    margin-right: 10px;
  }
  .title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  
 
  
  .titles {
    font-size: 21px !important;
    font-weight: 500;
    @include respond(phone) {
        font-size: 18px;
      }
  }
  
  .content-box {
    padding-top: 10px;
    grid-column: 2 / -1;
    // padding-bottom: 16px;
    line-height: 1.6;
    color: grey;
  }
  
  .content-box ul {
    color: #868e96;
    margin-left: 16px;
    margin-top: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  /* OPEN STATE */
  .open {
    border-top: 4px solid grey;
    background: linear-gradient(1deg,hsla(0,0%,100%,.16) 17.35%,hsla(0,0%,85%,.04) 76.2%);
    box-shadow: 0 4px 4px -1px rgba(0,0,0,.05);
  }
  
  .open .number,
  .open .title {
    color: #fff;
  }
  /* //// */