@import "../../mixins.scss";
.fee-wrap{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
    @include respond(phone) {
        display: flex;
        flex-direction: column-reverse;
      }
      @include respond(tab) {
        display: flex;
        flex-direction: column;
      }


   
}
.fee-left{
    width: 50%;
    @include respond(phone) {
        width: 100%;
      }
    h1{
        font-size: 44.5px;
        margin-bottom: 15px;
        @include respond(phone) {
            font-size: 32px;
          }
          @include respond(tab) {
            text-align: center;
          }
    }
    p{
        line-height: 1.6;
        color: grey;
        @include respond(tab) {
            text-align: center;
          }
    }
    
}
.fee-right{
    img{
        width: 40vw;
        @include respond(phone) {
            width: 60vw;
          }
    }
}