.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.app-container{
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }
}
