*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  overflow: hidden;
  height: 100vh;

  .sidebar-container {
    flex: 0 0 250px; 
    position: sticky;
    top: 0px;
    max-height: 100vh;
    padding: 20px; 
    border-right: 1px solid #d5d4d5;
    box-shadow: 0px 0px 10px #d5d4d5;
    overflow-y: auto; 
  }

  .app-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
  margin-right: 20px;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;

  &:hover {
    color: #007bff;
  }
}
